# Lab Revisiting Machine Learning Case Study

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../activities/data_7.01_activities/files_for_activities/learningSet.csv', low_memory=False)

-------------------

1. Check for null values in all the columns

In [4]:
data.isna().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [5]:
nulls_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()

In [6]:
nulls_df

        index         0
0     ODATEDW  0.000000
1     OSOURCE  0.000000
2       TCODE  0.000000
3       STATE  0.000000
4         ZIP  0.000000
..        ...       ...
476  MDMAUD_R  0.000000
477  MDMAUD_F  0.000000
478  MDMAUD_A  0.000000
479  CLUSTER2  0.001383
480  GEOCODE2  0.001383

[481 rows x 2 columns]

2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already

In [10]:
drop_list = []

In [7]:
nulls_df.rename(columns={"index": "column_name", 0: "nulls_percentage"}, inplace=True)

In [8]:
nulls_df[nulls_df['nulls_percentage'] > 0.25]

    column_name  nulls_percentage
23      NUMCHLD          0.870184
26      WEALTH1          0.468830
28      MBCRAFT          0.553955
29     MBGARDEN          0.553955
30      MBBOOKS          0.553955
..          ...               ...
451    RAMNT_20          0.917327
452    RAMNT_21          0.900296
453    RAMNT_22          0.781233
454    RAMNT_23          0.917631
455    RAMNT_24          0.814090

[72 rows x 2 columns]

3. Identify columns that over 85% missing values

In [9]:
nulls_above_threshhold_df = nulls_df[nulls_df['nulls_percentage'] > 0.25]

In [11]:
drop_list.extend(list(nulls_above_threshhold_df['column_name']))

In [12]:
drop_list

['NUMCHLD',
 'WEALTH1',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'WEALTH2',
 'ADATE_5',
 'ADATE_10',
 'ADATE_13',
 'ADATE_15',
 'ADATE_17',
 'ADATE_19',
 'ADATE_20',
 'ADATE_21',
 'ADATE_22',
 'ADATE_23',
 'ADATE_24',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_8',
 'RDATE_9',
 'RDATE_10',
 'RDATE_11',
 'RDATE_12',
 'RDATE_13',
 'RDATE_14',
 'RDATE_15',
 'RDATE_16',
 'RDATE_17',
 'RDATE_18',
 'RDATE_19',
 'RDATE_20',
 'RDATE_21',
 'RDATE_22',
 'RDATE_23',
 'RDATE_24',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_8',
 'RAMNT_9',
 'RAMNT_10',
 'RAMNT_11',
 'RAMNT_12',
 'RAMNT_13',
 'RAMNT_14',
 'RAMNT_15',
 'RAMNT_16',
 'RAMNT_17',
 'RAMNT_18',
 'RAMNT_19',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_22',
 'RAMNT_23',
 'RAMNT_24']

In [15]:
len(drop_list)

72

4. Remove those columns from the dataframe

In [13]:
data.drop(columns=drop_list, inplace=True)

In [14]:
data.shape

(95412, 409)

5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [17]:
data['GENDER'].value_counts(dropna=False)

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [18]:
data['GENDER'] = data['GENDER'].apply(lambda x: 'OTHER' if x not in ['F','M'] else x)

In [19]:
data['GENDER'].value_counts()

GENDER
F        51277
M        39094
OTHER     5041
Name: count, dtype: int64

In [22]:
data['GENDER']

0        F
1        M
2        M
3        F
4        F
        ..
95407    M
95408    M
95409    M
95410    F
95411    F
Name: GENDER, Length: 95412, dtype: object